@textColor: #484848;
@textColorSecondary: #222;

:root {
  --primary-color: #ff385c;
  --primary-bgd-color: #f5f5f5;
  --color-serach-line-bg: #DDD;
  --color-serach-primary: #222;
  --color-serach-secondary: #717171;;

}